*.class
*.log
*.jar
*.war
*.ear
bin/
dist/
target/
out/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.project
.classpath
.factorypath
.settings/
.dependency-bindings/

Thumbs.db
.DS_Store
